:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

input,
button {
    all: unset;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    background: #b8cee1;
    color: #000000;

    font-weight: 600;
}
input {
    width: calc(100% - 24px);
}

@media (prefers-color-scheme: dark) {
    input,
    button {
        background: #042a4c;
        color: #ffffff;
    }
}


button {
    width: fit-content;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    max-width: calc(100vw - 40px);

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
}